[Desktop Entry]
Name=pomodoro_plasma
Name[ast]=pomodoro_plasma
Name[ca]=pomodoro_plasma
Name[ca@valencia]=pomodoro_plasma
Name[cs]=pomodoro_plasma
Name[da]=pomodoro_plasma
Name[de]=pomodoro_plasma
Name[en_GB]=pomodoro_plasma
Name[es]=pomodoro_plasma
Name[et]=pomodoro_plasma
Name[fi]=pomodoro_plasma
Name[fr]=pomodoro_plasma
Name[gd]=pomodoro_plasma
Name[gl]=pomodoro_plasma
Name[it]=pomodoro_plasma
Name[ko]=pomodoro_plasma
Name[nb]=pomodoro_plasma
Name[nl]=pomodoro_plasma
Name[nn]=pomodoro_plasma
Name[pl]=pomodoro_plasma
Name[pt]=pomodoro_plasma
Name[pt_BR]=pomodoro_plasma
Name[ru]=pomodoro_plasma
Name[sk]=pomodoro_plasma
Name[sl]=pomodoro_plasma
Name[sr]=pomodoro_plasma
Name[sr@ijekavian]=pomodoro_plasma
Name[sr@ijekavianlatin]=pomodoro_plasma
Name[sr@latin]=pomodoro_plasma
Name[sv]=pomodoro_plasma
Name[uk]=pomodoro_plasma
Name[x-test]=xxpomodoro_plasmaxx
Name[zh_CN]=pomodoro_plasma
Name[zh_TW]=pomodoro_plasma
Comment=what your app does in a few words
Comment[ast]=lo que fai la to aplicación en poques pallabres
Comment[ca]=Què fa aquesta aplicació en poques paraules
Comment[ca@valencia]=Què fa esta aplicació en poques paraules
Comment[da]=nogle få ord om hvad din app gør
Comment[de]=In ein paar Worten, was Ihre Anwendung tut
Comment[en_GB]=what your app does in a few words
Comment[es]=lo que hace su aplicación, en pocas palabras
Comment[et]=Mõne sõnaga, mida rakendus teeb
Comment[fi]=ohjelmasi toiminta muutamalla sanalla
Comment[fr]=que fait votre application en quelques mots
Comment[gd]=na nì an aplacaid agad ann am beagan fhaclan
Comment[gl]=o que fai o seu programa en poucas palabras
Comment[it]=Cosa fa la tua applicazione in poche parole
Comment[ko]=프로그램이 하는 일에 대한 간단한 설명
Comment[nb]=hva programmet gjør, med noen få ord
Comment[nl]=wat uw app doet in een paar woorden
Comment[nn]=nokre få ord om kva programmet gjer
Comment[pl]=w kilku słowach opis co robi twój program
Comment[pt]=o que faz a sua aplicação, em poucas palavras
Comment[pt_BR]=breve descrição do que o seu aplicativo faz
Comment[ru]=Несколько слов о том, что делает ваша программа
Comment[sk]=čo vaša aplikácia robí v niekoľkých slovách
Comment[sl]=kaj vaš program dela, v nekaj besedah
Comment[sr]=Укратко о томе шта ваш програм ради
Comment[sr@ijekavian]=Укратко о томе шта ваш програм ради
Comment[sr@ijekavianlatin]=Ukratko o tome šta vaš program radi
Comment[sr@latin]=Ukratko o tome šta vaš program radi
Comment[sv]=vad programmet gör med några få ord
Comment[uk]=призначення вашої програми у декількох словах
Comment[x-test]=xxwhat your app does in a few wordsxx
Comment[zh_CN]=简单几个词概括您的小程序的功能
Comment[zh_TW]=以數個字描述您的應用程式的用途

Icon=applications-system
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=pomodoro_plasma
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.pomodoro_plasma

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-DefaultSize=200,300
